.catalog__item-link.uzi{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__item.uzi{
  border-radius: 10px;
  border: 2px solid rgba(34,31,98,.4);
  padding-bottom: 15px;
}